.input-container {
    --padding-vertical: 12px;
    --border-color: rgba(209, 209, 209, 1);
    --line-height: 24px;
    position: relative;
    display: flex;
    flex-direction: column; 
    width: 100%;
}


.input-container input,
.input-container textarea
 {
    width: 100%; 
    padding:  var(--padding-vertical) 51px  var(--padding-vertical) 21px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: var(--line-height);
    text-align: left;    
    outline:none;
}


.input-container .icon {
    position: absolute;
    right: 21px;
    top: var(--padding-vertical);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height:20px;
    object-fit: contain;
}


.input-container.password input + span,
.input-container.password input + span:disabled
 {
    content: url("../assets/img/desktop/lock.svg");
    transform: translate(2px,2px);
    cursor:not-allowed;
}


.input-container.password input:focus + span {
    content: url("../assets/img/desktop/eye-no.svg");
    cursor:pointer;
}


.input-container.password.visible input:focus + span {
    content: url("../assets/img/desktop/eye.svg");
    height: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor:pointer;
    transform: translate(4px,4px);     
}


.input-container input::placeholder, 
.input-container textarea::placeholder 
{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
}


.input-container.invalid input:invalid,
.input-container.invalid textarea:invalid
 {
    border-color: red;
}


.input-container input:valid,
.input-container textarea:valid {
        border: 1px solid var(--border-color);
}


.input-container input:focus,
.input-container textarea:focus
{
    border-color: rgba(41, 171, 226, 1);
     outline: none;
 }
 

.input-container .icon:hover {
        border-color: rgba(41, 171, 226, 1);
}


.error-msg {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: left;
    color: red;
    min-height: 20px; 
    margin-left: 0px;
    margin-top: 5px; 
    visibility: hidden; 
}


.error-msg.visible {
    visibility: visible; 
}


form {
    display: flex;
    width: 100%;
}