input[type="radio"]:checked+.button-label.urgent {
   background-color: #ff3d00;
   color: #ffffff;
   font-weight: 700;
   box-shadow: none;
}


input[type="radio"]:checked+.button-label.urgent img {
   content: url("../assets/img/desktop/prio_urgent_white.svg");
}


input[type="radio"]:checked+.button-label.low img {
   content: url("../assets/img/desktop/prio_low_white.svg");
}


input[type="radio"]:checked+.button-label.medium img {
   content: url("../assets/img/desktop/prio_medium_white.svg");
}


input[type="radio"]:checked+.button-label.medium {
   background-color: #ffc107;
   color: #ffffff;
   font-weight: 700;
   box-shadow: none;
}


input[type="radio"]:checked+.button-label.low {
   background-color: #4caf50;
   color: #ffffff;
   font-weight: 700;
   box-shadow: none;
}


input[type="radio"]:hover:not(:checked)+.button-label {
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


input[type="date"]:invalid {
   color: #d1d1d1;
}


.button-label {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 136px;
   padding: 16px 10px 16px 10px;
   gap: 16px;
   border-radius: 10px;
   background-color: white;
   color: black;
   cursor: pointer;
   transition: background-color 0.1s;
   font-size: 21px;
   line-height: 25.2px;
   box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
   overflow: visible;
}


.priority>div {
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   gap: 16px;
   justify-content: space-between;
   padding-right: 2px;
}