@media screen and (max-height:1050px) {
    .logo-position {
        transform:none;
        width: 68px; /* calc(274px / 4); */
        height: 83px; /* calc(334px / 4); */
        left: 20px;
        top: 20px;
    }    
}

@media (max-width: 450px) {
    .login-headline-before {
        margin-left:0;
        z-index:2;
    }


    .login-headline {
        margin-left: -32px;   
    }


    .login-headline>span {
        font-size: 47px;
        font-weight: 700;
        line-height: 56.4px;     
    }
}