.touch-container {
    position:absolute;
    top:0;
    left:0;
    cursor: pointer;
    height: auto;
    margin:0;
    padding:0;
    overflow:visible;
}

#touch-overflow {
    position: fixed;
    overflow: hidden;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 2;
    pointer-events: none;
}